services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: payments
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d payments"]
      interval: 3s
      timeout: 3s
      retries: 20

  api:
    build: .
    environment:
      ADDR: ":8080"
      DB_DRIVER: "postgres"
      DB_DSN: "postgres://postgres:postgres@db:5432/payments?sslmode=disable"
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
